mixin button(options)
  -
    const isBig = options.big ? ' button_size_big' : ''
    const isMid = options.mid ? ' button_size_mid' : ''
    const isSmall = options.small ? ' button_size_small' : ''
    const isWhite = options.white ? ' button_white' : ''
    const text = options.text || 'перейти к оплате'
    const whiteButtonText = options.text || 'click me'
    const href = options.href || ''
   
  if (options.big)
    a(class=`button${isBig}${isMid}${isSmall}` href=href)
      span(class='button__text')=text
      svg(class='button__arrow-svg' width='18' height='18' viewBox='0 0 18 18'  version='1.1' preserveAspectRatio='xMinYMin')
        use(xlink:href='#img-arrow-right')
  else
    a(class=`button${isBig}${isWhite}${isMid}${isSmall}` href=href)
      span(class='button__text')=whiteButtonText