mixin text-field(options)
  -
    const {
      readonly = false,
      id,
      class: isClassName = ''
      } = options
    
    const size = options.size ? `text-field_size_${options.size}` : ''
    
    let {type = 'text'} = options
    let placeHolder = ''
    let className = ''

    if (type == 'text') placeHolder = options.placeholder || 'Имя'
    else if (type == 'email') placeHolder = 'Email' 
    else if (type == 'password') placeHolder = 'Пароль'
    else if (type == 'date') {
      placeHolder = 'ДД.ММ.ГГГГ',
      type = 'text',
      className += `text-field__date`
    } else if (type == 'date-filter') {
      placeHolder = 'ДД.ММ.ГГГГ',
      type = 'text',
      className += `text-field__date-filter`
    }

  if (options.type == 'date' || options.type == 'date-filter')
    if (readonly)
      input(readonly class=`text-field ${className}` id=id type=`${type}` placeholder=placeHolder pattern='(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)[0-9][0-9]' )    
    else 
      input(class=`text-field ${className}` id=id type=`${type}` placeholder=placeHolder pattern='(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)[0-9][0-9]' )
  else
    input(class=`text-field ${className} ${size}` id=id type=`${type}` placeholder=placeHolder)
