mixin text-field(options)
  -
    let isType = options.type || 'text'
    let placeHolder = ''
    let className = ''
    const isClassName = options.class
    const isID = options.id
    const regExp = '(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d'
    const isReadOnly = options.readonly

    if (isType == 'email') placeHolder = 'Email'
    else if (isType == 'password') placeHolder = 'Пароль'
    else if (isType == 'date') {
      placeHolder = 'ДД.ММ.ГГГГ',
      isType = 'text',
      className = `text-field__date ${isClassName}`
    } else if (isType == 'text') placeHolder = options.placeholder ? options.placeholder  : 'Имя'

  if (options.type == 'date')
    if (isReadOnly)
      input(readonly class=`text-field ${className}` id=isID type=isType placeholder=placeHolder pattern='(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)[0-9][0-9]' )    
    else 
      input(class=`text-field ${className}` id=isID type=isType placeholder=placeHolder pattern='(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)[0-9][0-9]' )
  else
    input(class=`text-field ${className}` type=isType placeholder=placeHolder)
