include ../../form_elements/carousel/carousel.pug
include ../../form_elements/rate/rate.pug

mixin rooms(options)
  -var bg = ['../static/source/room_1.jpg', '../static/source/room_2.jpg'] // ----2фона
  -var imageBG = (options.bg) ? options.bg : '../static/source/room_1.jpg'
  -var hreFF = (options.href) ? options.href: 'room_details.html'
  -var roomRating = (options.rating) ? options.rating : '5'                
  -var roomNumder = (options.number) ? options.number : '888'              
  -var roomNotLux = (options.notlux) ? '' : 'люкс'                         
  -var roomCost = (options.cost) ? options.cost+'₽' : '9 999₽'
  -var roomLikesNum = (options.likes) ? options.likes: '145'
  .rooms
    .rooms__img-wrp
      img.rooms__img.js-rooms__img(width='270' height='151' src=imageBG alt="bg")
      .rooms__carousel
        +carousel
    .rooms__info
      a(class='rooms__room-link' href=hreFF)
        span.rooms__symbol №
        span.rooms__room-number=' '+roomNumder
      span.rooms__symbol.rooms__room-type=roomNotLux 
      span.rooms__room-cost
        b=roomCost
    .rooms__rating
      +rate({rating: roomRating, isClickable: false}) 
      span.rooms__rating-count=roomLikesNum+' Отзывов'