mixin carousel(options)
    ul.carousel
        li.carousel__item.carousel__item--active(id='carousel_1')
        li.carousel__item(id='carousel_2')
        li.carousel__item(id='carousel_3')
        li.carousel__item(id='carousel_4')

mixin rooms(options)
    -var bg = ['../static/source/room_1.jpg', '../static/source/room_2.jpg'] //----2фона
    -var imageBG = (options.bg)? options.bg : '../static/source/room_1.jpg'
    -var hreFF = (options.href) ? options.href: 'room_details.html'
    -var roomRating = (options.rating)? options.rating : '5'                //----options.rating -рейтинг комнаты
    -var roomNumder = (options.number)? options.number : '888'              //----options.number
    -var roomNotLux = (options.notlux)? '' : 'люкс'                         //---options.notlu
    -var roomCost = (options.cost)? options.cost+'₽' : '9 999₽'
    -var roomLikesNum = (options.likes)? options.likes: '145'                    //----options.cost
    .rooms-wrp
        .rooms__img
            img(width='270' height='150' src=imageBG alt="bg")
            +carousel
        .rooms__info
            a(class='reserve__number' href=hreFF)='№ '+roomNumder 
            span.reserve__type=roomNotLux 
            span.reserve__cost
                b=roomCost
                span=' в сутки'
        .rooms__rating
            +rate({rating: roomRating}) 
            span.rooms__rating-count=roomLikesNum+' Отзывов'
        

