mixin percent-pie(options)
  -
    const percents = []
    percents[0] = options.percents[0] * 3.455
    for (let i = 1; i < 4; i += 1) {
      percents[i] = options.percents[i] * 3.61 - 2.15
      if (percents[i] < 0) percents[i] = 0
    }
  
  .percent-pie
    <svg width=120 height=120 percent='#{percents}'>
      include ./gradients/gradients.pug
      
      <circle class='percent-pie__circle percent-pie__circle_perfectly' id='pie3' cx='50%' cy='50%' r='57.5' style='stroke-dasharray: #{percents[2]} 1 0 1000;' stroke='url(#percent-pie__perfectly-gradient)'/>
      <circle class='percent-pie__circle percent-pie__circle_good' id='pie2' cx='50%' cy='50%' r='57.5' style='stroke-dasharray: #{percents[1]-1} 1 0 1000;' stroke='url(#percent-pie__good-gradient)'/>
      <circle class='percent-pie__circle percent-pie__circle_satisfactorily' id='pie1' cx='50%' cy='50%' r='57.5' style='stroke-dasharray: #{percents[0]+3} 1 0 1000;' stroke='url(#percent-pie__satisfactorily-gradient)'/>
      <circle class='percent-pie__circle percent-pie__circle_disappointed' id='pie4' cx='50%' cy='50%' r='57.5' style='stroke-dasharray: #{percents[3]} 1000; stroke:black;'/>

      <text class='percent-pie__text' x='32%' y='50%'>260</text>
      <text class='percent-pie__voce-text' x='23%' y='66%'>голосов</text>
    </svg>