mixin socials-link(options)
  -
    const iconFill = options.fill || 'url(#linear-purple-gradient)'
    const icon = options.icon
    const iconWidth = options.width || 22
    const iconHeight = options.height || 22

  a(class=attributes.class href='/mock-address/change-me' target='_blank' rel='noopener noreferrer')
    svg(class=`${attributes.class}-icon` width=iconWidth height=iconHeight viewBox=`0 0 ${iconWidth} ${iconHeight}` alt='tw-link')
      path(fill=iconFill d=icon)