include ../carousel/carousel.pug
include ../rate/rate.pug

mixin room-card(options)
  -
    const staticBackgrounds = [
      '../../static/source/room-888.jpg',
      '../../static/source/room-840.jpg',
      '../../static/source/room-3.jpg',
      '../../static/source/room-4.jpg'
    ]
    const {
      background = staticBackgrounds[0],
      href = 'room-details.html',
      arrows = false,
      rating = '5',
      number = '888',
      lux = false,
      cost,
      likes = '145'
      } = options
    const isLuxRoom = lux ? 'люкс' : ''                         
    const roomCost = cost ? `${cost}₽` : '9 999₽'
  
  .room-card
    .room-card__image-wrapper
      img.room-card__image.js-room-card__image(width='270' height='151' src=background alt='bg')
      if (arrows)
        svg(class='room-card__previous' width='12' height='12' viewBox='0 -4 12 12'  version='1.1' preserveAspectRatio='xMinYMin')
          use(xlink:href='#img-expand-more-right')

        svg(class='room-card__next' width='12' height='12' viewBox='0 -4 12 12'  version='1.1' preserveAspectRatio='xMinYMin')
          use(xlink:href='#img-expand-more-right')

      .room-card__carousel
        +carousel

    .room-card__info
      a(class='room-card__room-link' href=href)
        span.room-card__symbol №
        span.room-card__room-number=` ${number}`
      span.room-card__symbol.room-card__room-type=isLuxRoom 
      span.room-card__room-cost
        b=roomCost
        
    .room-card__rating
      +rate({rating: rating, isClickable: false}) 
      span.room-card__rating-count
        b=`${likes} `
        |Отзывов